<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<html>
<meta charset="utf-8">
<title>Liguistic devices annotation</title>
<script
  src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
  crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<body>

		<div class="cposition-relative">
		  	<div class="position-absolute top-50 start-50 translate-middle">
		    	<div class="col-md-auto">
			      	<h2 class="text-primary-emphasis">Register</h2>

					<form action="{{ url_for('register') }}" method="post" autocomplete="off">

						<div class="mb-3">
						    <label for="firstname" class="form-label">First name</label>
						    <input type="text" name="firstname" class="form-control" id="firstname" aria-describedby="First name" required>
						</div>
						<div class="mb-3">
						    <label for="lastname" class="form-label">Last name</label>
						    <input type="text" name="lastname" class="form-control" id="lastname" aria-describedby="Last name" required>
						</div>
						<div class="mb-3">
						    <label for="email" class="form-label">Email address</label>
						    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
						    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
						</div>
						<div class="mb-3">
						    <label for="password" class="form-label">Password</label>
						    <input type="password" name="password" class="form-control" id="password">
						</div>
						

						<div class="msg">{{ msg }}</div>
						<input type="submit" class="btn btn-primary" value="Register">

					</form>
					<a href="{{ url_for('login') }}">Login</a>
						
				</div>
			</div>
		</div>
	</body>
</html>
